
<%- include("partials/newheader"); -%>
<div class="homediv">
  <div class="homeh1p1_1">

    <div class="homeh1p1_2">
      <h1 class="homeh1">Home</h1>
      <div class="">
        <img class="homeimg" src="image/thinking.jpg" alt="oops">
      </div>
    </div>
  </div>

  <div class="homepdiv">

    <p class="homep"> <%= startingContent %> </p>
</div>
<hr>

<%  posts.forEach(function(post){ %>
<div class="body1">
    <div class="container1">
      <div class="panel active" style="background-image: url('image/dark.jpg')">
        <h1 class="panelposth1"><%=post.title%></h1>
        <div class="panelpostpw">
        <p class="panelpostp">
          <%=post.content%>
          <br>
          <a class="panela" href="/posts/<%=post._id%>">
            Read More....</a>
        </p>
      </div>


      </div>

    </div>

  </div>
  <% }) %>



  </div>






<%- include("partials/middle"); -%>


<%- include("partials/footer"); -%>
